<% header "Courses that you are enrolled" %>

  
  <%if @encourses.size==0%>
<p>You are not enrolled in any courses.</p>
<%else%>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Code</th>
      <th>Credits</th>
    </tr>
  </thead>

  <tbody>
    <% @encourses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.description %></td>
        <td><%= course.code %></td>
        <td><%= course.credits %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>
<br>



  